include README.md
include LICENSE.txt
include requirements.*.txt
include *.cff
include requirements.txt
include flowlet/VERSION
recursive-include flowlet *.json
recursive-include flowlet *.html
recursive-include flowlet *.png
recursive-include flowlet *.md
recursive-include flowlet *.py
recursive-exclude tests *
prune tests*
